TASK2:

In [11]:
import math as m

def determinant_function():
    a=float(input("Enter A"))
    b=float(input("Enter B"))
    c=float(input("Enter C"))
   
    d=float(m.pow(b,2)-(4*a*c))
    print("Determinent is " , d)
    if(d<0):
        print("Complex Root!")
    elif(d==0):
        d=(-b)/(2*a)
        print(d)
    else:
        d1=((-b)+((m.sqrt((b*b)-(4*a*c)))))/(2*a)
        d2=(-b-((m.sqrt((b*b)-(4*a*c)))))/(2*a)
        print(d1)
        print("2nd value: ",d2)
determinant_function()

Enter A1
Enter B2
Enter C3
Determinent is  -8.0
Complex Root!

TASK3:

In [ ]:
def smaller(date,y,z):

  
  count=0
  
  for year in date:
    
    if year<z:
      count=count+1
      
  return count     
date = [13, 56, 21, 45, 20, 43, 12, 43, 6]
print(smaller(date,len(date),21))
print(smaller(date,len(date),20))

4
3

TASK4:

In [ ]:
def remove_duplicates(list2):
    list1=[set(list2)]
    return list1

list1= [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
print(remove_duplicates(list1))

TASK5

In [12]:
def setFun(l1,l2):
  l3=set(l1 and l2)
  return l3
list1 = [1,3,6,78,35,55]
list2 = [12,24,35,24,88,120,155]



print( setFun(list1,list2) )

{35, 12, 155, 24, 88, 120}

TASK6

In [ ]:
def BMICAl(weight,height):

  h=height*height
  BMI=weight/h
  return BMI


weight=float(input("Enter Weight "))
height=float(input("Enter Height "))
print(BMICAl(weight,height))

Enter Weight 12
Enter Height 12
0.08333333333333333

TASK7:

In [ ]:
growth_multiplier=1.3

year=7

yearly_amount=1000

print("Revenue after 7 years ",year*yearly_amount*growth_multiplier)

Revenue after 7 years  9100.0

TASK8:

In [2]:
mass= float(input("Enter mass "))
MS= (mass*2.2)/14
print("Store in stone:", MS)

Enter mass 12
Store in stone: 1.885714285714286

TASK9

In [4]:
list1= []
list1.extend(["hall " + str(11.3),"kitchen " + str(6),"bedroom " + str(12.5)] )

print(list1)

['hall 11.3', 'kitchen 6', 'bedroom 12.5']

TASK10:

In [5]:
student1 = {"name": "Umer", "scores": [3.5, 3.8, 4.0, 3.9, 4.0, 3.8]}
student2 = {"name": "Hussain", "scores": [3.2, 2.8, 3.0, 2.5, 2.7, 3.1]}
student3 = {"name": "Zoha", "scores": [2.8, 2.9, 3.1, 3.0, 2.9, 2.8]}

students = [student1, student2, student3]

for student in students:
    print("Student:", student["name"])
    print("Scores:", student["scores"])
    print("GPA:", sum(student["scores"]) / len(student["scores"]))
    print()

Student: Umer
Scores: [3.5, 3.8, 4.0, 3.9, 4.0, 3.8]
GPA: 3.833333333333334

Student: Hussain
Scores: [3.2, 2.8, 3.0, 2.5, 2.7, 3.1]
GPA: 2.8833333333333333

Student: Zoha
Scores: [2.8, 2.9, 3.1, 3.0, 2.9, 2.8]
GPA: 2.9166666666666665

[{35, 12, 155, 24, 88, 120}]